{
    "plugins": ["@babel/plugin-transform-runtime", "source-map-support"],
    "sourceMaps": "inline",
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "current"
          }
        }
      ]
    ]
  }